<div>
  <h2>Trending Goals</h2>
  <ul>
    <li *ngFor="let goal of existingGoals">
      <strong>{{ goal.title }}</strong> - {{ goal.description }}
      <span class="sentiment-analysis" [class.positive]="goal.sentiment === 'positive'" [class.negative]="goal.sentiment === 'negative'" [class.hidden]="hideSentiments">
        {{ goal.sentiment }} - {{ goal.sentimentValue }}%
      </span>
      <button class="remove-button" (click)="removeGoal(goal)" [class.hidden]="hideSentiments">Remove</button>
    </li>
  </ul>
</div>

<button (click)="toggleSentiments()">Show/Hide Sentiment</button>

<div class="loader" *ngIf="showLoader"></div>
